<span>
        <b>Created</b> : {{ log.createdAt | date }} |
        <b>Id</b> : {{ log.id }} |
        <b>Client</b> : {{ log.client }} |
        <b>Server</b> : {{ log.server }} |
        <b>Data</b> : {{ log.data }} |
</span> <br>
